<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.otnieldocs.googletemplate">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Androidtemplategoogle">
        <activity android:name=".AppMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- example to use deeplink for uri http://www.example.com -->
            <intent-filter android:label="@string/app_main_deeplink_httpfilter">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.example.com/deeplink” -->
                <data android:scheme="@string/app_main_deeplink_httpscheme"
                    android:host="@string/app_main_deeplink_httphost"
                    android:pathPrefix="@string/app_main_deeplink_httpprefix" />
                <!-- note that the leading "/" is required for pathPrefix-->
            </intent-filter>

            <!-- example to use deeplink for uri app://deeplink -->
            <intent-filter android:label="@string/app_main_deeplink_urifilter">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "app://deeplink” -->
                <data android:scheme="@string/app_main_deeplink_urischeme"
                    android:host="@string/app_main_deeplink_urihost"
                    android:pathPrefix="@string/app_main_deeplink_uriprefix" />
            </intent-filter>
        </activity>
    </application>

</manifest>